# Joining neighborhood data with their coordinates

### Imports

In [53]:
import pandas as pd
import numpy as np
import os
import csv

### Directory setting

In [48]:
mypath='/Users/IsmaelSiffon/Documents/Jupiter_directory'
os.chdir(mypath)
os.getcwd()

'/Users/IsmaelSiffon/Documents/Jupiter_directory'

### Add latitude and longitude to the table

In [49]:
# import the wiki table
wiki_df= pd.read_csv('wiki_table.csv')
wiki_df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [50]:
# import the geospatial_coordinates table
geo_spac_df= pd.read_csv('Geospatial_Coordinates.csv')
geo_spac_df.rename(columns= {'Postal Code':wiki_df.columns[0]}, inplace=True)
geo_spac_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [51]:
# Merging the tables
df= pd.merge(wiki_df, geo_spac_df, on='PostalCode')
df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [52]:
# Check for the number of rows
print(wiki_df.shape)
print(df.shape)

(103, 3)
(103, 5)